{#
## (C) William Avery 2021
##
## Distributed under the terms of the MIT license.
#}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.css">
  <style>
  body {
    background-color: #D0D0D0;
    font-family: sans-serif;
    font-size: 0.8rem
  }
  .username {
    font-weight: 600;
  }
  .flashes {
    color: red;
  }
  .gallerytext {
	font-size: 94%;
	word-wrap: break-word;
  margin-left: 5px;
  }
  .gallerytext.deleted a{
    color:#ba0000;
  }
  .image-size {
    color: green;
  }
  .heber-thumb {
    height:110px;
    width:110px;    
    background-position: center !important;
    background-size: contain !important; 
  }
    .heber-thumb-box {
    margin:5px; 
    padding:5px !important;
    border-width:1px; 
    border-style:solid; 
    border-color:gray; 
    height:122px;
    width:122px;    
    background-color: #DFDFDF;
  }
  .heber-thumb-box.deleted { 
    border-color: #ba0000;   
    background-color: pink;
  }
  .datepicker {
    font-size: 0.8rem;
  }
</style>
    <title>Heber</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Heber</a>
    <span class="navbar-text" href="#">Selection by:&nbsp;</span>
    <span class="navbar-text" id="option-date" href="#">Declined Date</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            using:
          </a>
          <ul id="ddm" class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item btn-sm {{"active" if not result.qrange}}" id="singledate" href="#">Single date</a></li>
            <li><a class="dropdown-item btn-sm {{"active" if result.qrange}}" href="#">Date range</a></li>
          </ul>
        </li>
      </ul>
              <span class="navbar-text" id="option-selection" href="#">{{"Date range" if result.qrange else "Single date"}}</span>
    </div>

  </div>
</nav> 
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

<script>
function setSelectionText() {
  $('#option-selection').text($('#ddm li a.active').html());
  if (singleDate()) {
    $('#datelabel').text($('#option-date').html())
    $('#divdate1').hide()
    $('#divbtngo').hide()

  } else {
    $('#datelabel').text('To')
    $('#divdate1').show()
    $('#divbtngo').show()
  }
  $('#date1').attr('originalvalue', '')
  $('#date,#date1').datepicker('update', '');
}
function singleDate() {
  return $('#option-selection').text() == $('#singledate').html()
}
    $(document).ready(function(){

      $('#ddm li a').on('click', function(){
        $('#ddm li a').removeClass('active')
        $(this).addClass('active')
        setSelectionText()
      });


      dp = $('#date1,#date').datepicker({
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true
      })

      $('#date').datepicker().on('changeDate', function(e) {
        if (singleDate()) {
          formatted = $(e.target).datepicker().data('datepicker').getFormattedDate('yyyymmdd');
          if (formatted != $(e.target).attr('originalvalue'))
            window.location.assign('{{url_for('filter')}}/' + formatted)
        }
      })
      $('#btngo').on('click', function(e) {
        formatted1 = $('#date1').datepicker().data('datepicker').getFormattedDate('yyyymmdd');
        formatted2 = $('#date').datepicker().data('datepicker').getFormattedDate('yyyymmdd');
            window.location.assign('{{url_for('qrange')}}/' + formatted1 + 'To' + formatted2)
      })
    })
</script>

  <div class="container mb-2 mt-2 pt-2 pb-2 border border-secondary rounded hebercont1">
    <div class="row">
    <div id="divdate1" style="{{'display:none;' if not result.qrange}}" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
    <div class="input-group input-group-sm">
      <span class="input-group-text">
        <label for="date1" class="">From </label>
      </span>
      <input type="text" id="date1" class="form-control" aria-label="Date" originalvalue="{{result.echostartdate if result.qrange else ''|fmtdate('%Y%m%d')}}" value="{{(result.echostartdate if result.qrange else '')|fmtdate}}">
      <span class="input-group-text">
        <label for="date1" style="font-family:bootstrap-icons" class="bi-calendar3"></label>
      </span>
    </div>
    </div>
    <div id="divdate"  class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
    <div class="input-group input-group-sm">
      <span class="input-group-text">
        <label id="datelabel" for="date" class="">{{'To' if result.qrange else 'Declined Date'}}</label>
      </span>
      <input type="text" id="date" class="form-control" aria-label="Date" originalvalue="{{result.echoenddate if result.qrange else result.echostartdate|fmtdate('%Y%m%d')}}" value="{{(result.echoenddate if result.qrange else result.echostartdate)|fmtdate}}">
      <span class="input-group-text">
        <label for="date" style="font-family:bootstrap-icons" class="bi-calendar3"></label>
      </span>
    </div>
    </div>
    <div id="divbtngo" style="{{'display:none;' if not result.qrange}}" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <button id="btngo" type="button" class="btn btn-outline-primary btn-sm">Go</button>
    </div>
        {% with messages = get_flashed_messages()|join(', ') %}
  {% if messages %}
    <div class="col-sm-6">
      <input type="text" class="form-control-plaintext flashes" value="{{ messages|e }}"/>
    </div>
  {% endif %}
{% endwith %}

    </div>

  </div>
{%if result.data %}
    {%for user_name in result.data.keys()%}
      <div class="container mb-2 mt-2 pt-2 pb-2 border border-secondary rounded hebercont1">
        <div class="row">
          <div class="col-sm-6">
          <span class="username">User: {{user_name|e}}</span> - Registered: {{result.data[user_name]['en_user_registration']|fmtdate}}
          </div> 
        </div>
        <div class="row">
          <div class="col-sm-12">
<img alt="Wikipedia" src="{{config.ENLOGO}}" decoding="async" srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/48px-Wikipedia-logo-v2.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/64px-Wikipedia-logo-v2.svg.png 2x" data-file-width="103" data-file-height="94" width="16" height="16">
            <a href="{{config.ENURL}}User talk:{{user_name}}">User&nbsp;talk</a> | 
            <a href="{{config.ENURL}}Special:Contributions/{{user_name|e}}">Contributions</a> |  
            <a href="{{config.ENURL}}Special:DeletedContributions/{{user_name}}">Deleted&nbsp;contributions</a> | 
          </div>
        </div>
        <div class="row">
        <div class="col-sm-12">
<img alt="Wikimedia Commons logo" src="{{config.COMMONSLOGO}}" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/150px-Commons-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/200px-Commons-logo.svg.png 2x" data-file-width="1024" data-file-height="1376" width="16" height="16">
            <a href="{{config.COMMONSURL}}User talk:{{user_name|e}}">User&nbsp;talk</a> | 
            <a href="{{config.COMMONSURL}}Special:Contributions/{{user_name}}">Contributions</a> |  
            <a href="{{config.COMMONSURL}}Special:DeletedContributions/{{user_name}}">Deleted&nbsp;contributions</a> | 
            <a href="{{config.COMMONSFULLPATH}}Special:ListFiles/&user={{user_name|urlencode}}&ilshowall=1">Uploads</a> 
        
          </div>
        </div>
        {%if result.data[user_name]['user_no_lic_warn']%}
        <div class="row">
        <div class="col-sm-12">
        <span  style="background-color: green; color: white;">
        User has warnings about missing licenses
        </span>
        </div>
        </div>
            {% endif %}
        {%if result.data[user_name].user_no_src_warn %}
        <div class="row" >
        <div class="col-sm-12">
        <span style="background-color: blue; color: white;">
        User has warnings about missing source
        </span>
        </div>
        </div>
            {% endif %}
        {%if result.data[user_name].user_no_perm_warn %}
        <div class="row">
        <div class="col-sm-12">
        <span  style="background-color: #FF8888; color: black;">
        User has warnings about missing permission
        </span>
        </div>
        </div>
            {% endif %}
        {%if result.data[user_name].user_dr_notices %}
        <div class="row">
        <div class="col-sm-12">
        <span style="background-color: gray; color: white;">
        User has DR notices
        </span>
        </div>
        </div>
        {% endif %}
        {%if result.data[user_name].user_cr_warn %}
        <div class="row">
        <div class="col-sm-12">
        <span style="background-color: #FF0000; color: white;">
        User has been warned about copyright violations
        </span>
        </div>
        </div>
        {% endif %}
        
      {%for page_title in result.data[user_name].pages.keys()%}
        <div class="row ">
          <div class="col col-6">
            <a id="page_title" class="form-control-label" href="{{config.ENURL}}Draft:{{page_title}}">Draft: {{page_title|linktext|e}}</a>
          </div>
          <div class="col col-3">
            Created: {{result.data[user_name].pages[page_title].page_draft_timestamp|fmtdate}}
          </div>
          <div class="col col-3">
            Declined: {{result.data[user_name].pages[page_title].page_draft_declined|fmtdate}}
          </div>
        </div>
        <div class="row">
           {%for image_title in result.data[user_name].pages[page_title].images.keys()%}
              <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col">
              <div  class="heber-thumb-box rounded {{'deleted' if result.data[user_name].pages[page_title].images[image_title].deleted}} ">
              <a href="{{config.COMMONSURL}}File:{{image_title|e}}">
                <div  class="heber-thumb" style="background:url('{{result.data[user_name].pages[page_title].images[image_title].thumb|e}}') no-repeat;"></div>
              </a>
              </div>
              <div class="gallerytext {{'deleted' if result.data[user_name].pages[page_title].images[image_title].deleted}} ">
                <a class="form-control-label" href="{{config.COMMONSURL}}File:{{image_title|e}}">{{image_title|linktext|e}}</a>
              </div>
              {%if result.data[user_name].pages[page_title].images[image_title].delete_tag %}
                <div class="gallerytext">
                  <span style="background-color: gray; color: white;">
                    DR notice
                  </span>
                </div>
              {%endif%}
              {%if result.data[user_name].pages[page_title].images[image_title].nopermission_tag %}
                <div class="gallerytext">
                  <span  style="background-color: #FF8888; color: black;">
                    Warning about missing permission
                  </span>
                </div>
              {%endif%}
              {%if result.data[user_name].pages[page_title].images[image_title].copyvio_tag %}
                <div class="gallerytext">
                  <span  style="background-color: #FF0000; color: white;">
                    Copyvio notice
                  </span>
                </div>
              {%endif%}
              {%for lic in result.data[user_name].pages[page_title].images[image_title].lic_tags%}
              <div class="gallerytext"><i>{{lic.lic_tag|upper}}{{' <b>self</b>' if lic.lic_self}}</i></div>
              {% endfor %}
              <div class="gallerytext image-size">{{result.data[user_name].pages[page_title].images[image_title].size}} {{result.data[user_name].pages[page_title].images[image_title].width}}x{{result.data[user_name].pages[page_title].images[image_title].height}}</div>
              </div>
            {% endfor %}
        </div>
        {% endfor %}
        </div>
    {% endfor %}
  {% endif %}
  </body>
</html>
